<h1 class="detail__title">{{ heading }}</h1>

<p class="detail__intro">
    {{ intro }}
</p>

<section class="detail">
    <main class="detail__main">  
        {{ render '@action-list' }}

        {{ render '@movie-list' }}
    </main>

    <aside class="detail__side">
        {{ render '@alert' }}

        {{ render '@alert--warning' }}        
    </aside>
</section>

{{ render '@alert--success' }}

{{ render '@footer' }}